@import "tailwindcss";
@plugin "daisyui";

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

@keyframes floatLogo {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float-logo {
  animation: floatLogo 2.5s ease-in-out infinite;
}